.homePageForm {
  padding: 10px;
}

.loginForm {
  margin-top: 100px;
}

.homeFormRow {
  margin-top: 10px;
}

.tableCellContent {
  display: inline-flex;
}

.tableCell {
  cursor: pointer;
}

.tableCell:hover {
  background: #c6d6e6;
}

.scheduleTableRow {
  cursor: pointer;
}

.scheduleTableRow:hover {
  background: #c6d6e6;
}

.journalHeading {
  margin-top: 40px;
  margin-bottom: 20px;
}
